@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.9rem;
}

body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  color: #727272;
}

.experience {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  position: fixed;
  width: 100%;
  top: 1.5rem;
  padding-inline: 2rem;
}

footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 100;
  text-transform: uppercase;
}

.footer__left, .footer__right {
  display: flex;
  gap: 1rem;
}

a {
  color: rgb(173, 173, 173);
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  text-decoration: underline;
}
